.exercise-list {
  @apply w-3/4 h-5/6 mx-auto my-auto overflow-y-auto mb-4;
  @apply text-center text-white;

  table {
    @apply w-full h-full;
  }

  td:nth-child(odd) {
    @apply bg-gray-500;
  }
  td:nth-child(even) {
    @apply bg-gray-700;
  }

  thead {
    @apply sticky top-0 border-none;
    tr {
      @apply h-16 border-b-2;
    }

    tr:first-child {
      @apply border-none;
      td {
        @apply text-2xl bg-gray-800;
      }
    }
  }
  tbody {
    @apply overflow-y-auto;
    tr {
      @apply h-8;
    }

    tr:hover {
      @apply text-black transition-all duration-300 ease-out cursor-pointer h-12;
      td {
        @apply bg-green-700;
      }
    }
  }

  tfoot {
    @apply h-full;
  }
}
